@font-face {
  font-family: ArchivoBlack;
  src: local("ArchivoBlack"),
    url(https://fonts.googleapis.com/css?family=ArchivoBlack) format("truetype");
}
body,
html {
  font-family: ArchivoBlack;
  height: 100%;
}
#appmain {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.counter {
  font-size: 60px;
  padding: 0px;
  margin: 0px;
}
.nftContainer {
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: auto;
}
@media only screen and (min-width: 800px) {
  #apps {
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
  }
  .nftContainer {
    height: 400px;
    width: 400px;
  }
  .counter {
    font-size: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .nftContainer {
    height: 500px;
    width: 500px;
  }
  .counter {
    font-size: 120px;
  }
}
